.container {
  width: 100%;
  /* height: 408px; */
  /* top: 2850px; */
  /* padding: 20px 100px; */
  /* margin-top: 3rem; */
  @apply xl:top-[2850px] xl:h-[408px] xl:px-[100px] xl:py-[20px] lg:h-[388px] lg:px-[30px] lg:py-[10px] xl:mt-[3rem] lg:mt-[7rem] xl:mb-0 lg:mb-[2rem];
}

.container h1 {
  font-family: "Montserrat";
  font-size: 32px;
  font-weight: 500;
  line-height: 39.01px;
  color: #905125;
  @apply text-center;
}

main {
  padding: 0;
  margin-top: 2rem;
}

.content {
  @apply h-[238px] w-[100%] gap-[20px] flex;
}

.content img {
  @apply w-[347px] h-[238px];
}
