@font-face {
  font-family: "Nico-Moji";
  src: url("./fonts/Nico-Moji.ttf.woff") format("woff"),
    url("./fonts/Nico-Moji.ttf.svg#Nico-Moji") format("svg"),
    url("./fonts/Nico-Moji.ttf.eot"),
    url("./fonts/Nico-Moji.ttf.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}
